@charset "UTF-8";

/*************************
******** 全体設定 **********
**************************/
html {
	height: 100%
}

body {
	height: 100%;
	background-image: url("../images/toppage.png");
    background-size: 100% auto;
    margin: 0;
}
#wrapper {
	height: 100%;
    text-align: center;
}
div.content {
    height: 100%;
}
div.container {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    background-color: rgba(240, 240, 240, 0.9);
    overflow: auto;
}
/* リストの点を非表示 */
li {
	list-style: none;
}
/* フロート解除 */
.clearfix:after {
    clear: both;
    content: '';
    display: block;
}
/****************　スマホ時　****************************/

@media(max-width: 670px) {
    div#wrapper {
        height: 100%;
        width: 100%;
    }
    div.content {
        height: 100%;
        width: 100%;
    }
}
/*************************
******** ヘッダー **********
**************************/
header {
	color: rgba(240, 240 ,240, 0.8);
	font-weight: bold;
	text-align: left;
	font-family:"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
    background-color: rgba(30, 30, 30, 1);
    height: 80px;
    border: 1px solid rgba(30, 30, 30, 1);
}
header a {
	text-decoration: none;
    color: rgba(240, 240 ,240, 0.8);
}
header a:hover {
    color: rgba(180, 180 ,180, 0.8);
}
header ul {
	list-style: none;
	margin:0;
}
header h1.logo {
	display: inline;
    float: left;
    margin: 0 0 0 10%;
}
header span.logout {
	float: right;
	margin: 1% 15% 0 0;
	font-size: 140%;
}
/*********************  スマホ時    ***************************/
@media(max-width: 670px) {
    /* ヘッダー */
	header {
        color: rgba(240, 240 ,240, 0.8);
        font-weight: bold;
        text-align: left;
        font-family:"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
        background-color: rgba(30, 30, 30, 1);
        height: 50px;
        border: 1px solid rgba(30, 30, 30, 1);
    }
    /* Nyancogram */
    header h1.logo {
        display: inline;
        float: left;
        margin: 3% 0 0 10%;
        font-size: 10px;
    }
    /* logout */
    header span.logout {
        float: right;
        margin: 1% 15% 0 0;
        font-size: 100%;
    }
}
/**************************************************
******** トップ画面(ログイン・サインアップへの画面) **********
*****************************************************/
div.container_top {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    overflow: auto;
}
/* Welcome to Nyancogram */
h2.toppage {
    padding-top: 100px;
    color: white;
    font-size: 40px;
}
/* This is an application for the cat . */
p.toppagemsg {
       color: white;
    font-size: 20px;
}

/* ログインボタンとサインアップボタンを囲うdiv */
div.index_button {
    padding-top:50px;
    text-align:center;
}
/* ログインボタン、サインアップボタンを囲うdiv */
div.login_button, .signup_button {
    display: inline-flex;
}
/* ログインボタン、サインアップボタンのデザイン(+hover時のデザイン) */
.toppage_button {
    border: 2px solid white;
    padding: 10px 40px 10px 40px;
    margin: 0 100px 0 100px;
    font-size: 20px;
    color: white;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0);
    text-decoration: none;
}
.toppage_button:hover {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    font-weight: bold;
    border: 2px solid white;
    padding: 11px 41px 11px 41px;
}
/*********************  スマホ時    ***************************/
@media(max-width: 670px) {

    div.container_top {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: auto;
    }
    /* Welcome to Nyancogram */
    h2.toppage {
    padding-top: 100px;
    color: white;
    font-size: 20px;
    }
    /* This is an application for the cat . */
    p.toppagemsg {
    color: white;
    font-size: 15px;
    }
    /* ログインボタンとサインアップボタンを囲うdiv */
    div.index_button {
        padding-top:15px;
        text-align:center;
    }
    /* 通常画面でボタンを横並びにする時にリストを使用している */
    ul.index_button_list {
        padding: 0px;
    }
    /* ログインボタン、サインアップボタンを囲うdiv */
    div.login_button, .signup_button {
        display: block;
        margin: 0 auto 50px auto;
    }
    /* ログインボタン、サインアップボタンのデザイン(+hover時のデザイン) */
    a.toppage_button {
        border: 2px solid white;
        padding: 10px 40px 10px 40px;
        margin: 0;
        font-size: 20px;
        color: white;
        font-weight: bold;
        background-color: rgba(0, 0, 0, 0);
        text-decoration: none;
    }
    a.toppage_button:hover {
        background-color: rgba(0, 0, 0, 0.3);
        color: white;
        font-weight: bold;
        border: 2px solid white;
        padding: 11px 41px 11px 41px;
    }
}

/*******************************
**** ログイン・サインアップ画面 ****
********************************/

/*  サインアップ画面・ログイン画面のフォーム部品 */
.container_signsup_login .form_part {
    margin-bottom: 15px;
}
/*  textタイプのフォーム */
.container_signsup_login .form_part input[type=text] {
    width: 200px;
    height: 20px;
    font-size:20px;
}
/* emailタイプのフォーム */
.container_signsup_login .form_part input[type=email] {
    width: 200px;
    height: 20px;
    font-size:20px;
}
/* passwordタイプのフォーム */
.container_signsup_login .form_part input[type=password] {
    width: 200px;
    height: 20px;
    font-size:20px;
}
/* selectタイプのフォーム */
.container_signsup_login .form_part select {
    width: 350px;
    height: 30px;
    font-size:18px;
}
/* 送信ボタンのデザイン(+hover時) */
.container_signsup_login button[type=submit] {
    border: 1px solid black;
    padding: 10px 25px 10px 25px;
    margin-top: 20px;
    font-size:18px;
}
.container_signsup_login button[type=submit]:hover {
    border: 1px solid rgba(220, 220, 220, 1);
    color: rgba(220, 220, 200, 1);
    background-color: rgba(30, 30, 30, 0.8);
}
/* ログイン画面・サインアップ画面へリンク */
a.to_login, a.to_signup {
	margin-top: 20px;
	display: inline-block;
}
/* エラーメッセージ */
p.error_msg {
    color: red;
    font-size: 12px;
    display: inline;
}
/*********************  スマホ時    ***************************/
@media(max-width: 670px) {
    div.container_signsup_login {
        width: 100%;
        border: 1px solid blue;
    }
    h2.signup {
        margin:10px 0 15px 0;
        font-size: 22px;
    }
    /*  サインアップ画面・ログイン画面のフォーム部品 */
    .container_signsup_login div.form_part {
        margin-bottom: 10px;
    }
    /* フォームのlabel */
    .container_signsup_login .form_part label {
        display: block;
        font-size: 17px;
    }
    /*  textタイプのフォーム */
    .container_signsup_login .form_part input[type=text] {
        width: 200px;
        height: 15px;
        font-size:15px;
    }
    /* emailタイプのフォーム */
    .container_signsup_login .form_part input[type=email] {
        width: 200px;
        height: 15px;
        font-size:15px;
    }
    /* passwordタイプのフォーム */
    .container_signsup_login .form_part input[type=password] {
        width: 200px;
        height: 15px;
        font-size:15px;
    }
    /* selectタイプのフォーム */
    .container_signsup_login .form_part select {
        width: 280px;
        height: 25px;
        font-size:16px;
    }
}
/*************************
**** メイン画面設定(ログイン時) ****
**************************/

div.container_main {
    padding-top: 50px;
    height: 100%;
}

@media(max-width: 670px) {

    div.container_main {
       width: 95%;
       border: 1px solid blue;
       padding: 0;

    }
}

/*************************
**** aside設定 ****
**************************/
aside.aside {
    float: left;
    width: 20%;
    margin-left: 20px;
    border-right: 1px solid #7F7F7F;
    padding-right: 40px;
}
/* asideのアイコン画像 */
img.user_icon {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 15px;
    margin-bottom: 10px;
}
/* ユーザー情報編集画面へのリンク(+hover) */
a.to_users_edit {
    text-decoration: none;
    color: rgba(30, 30, 30, 1);
    border: 1px solid rgba(30, 30, 30, 1);
    padding: 10px 15px 10px 15px;
    font-size: 12px;
    width: 80%;
}
a.to_users_edit:hover {
    text-decoration: none;
    color: rgba(240, 240, 240, 0.8);
    background-color: rgba(30, 30, 30, 1);
    padding: 10px 15px 10px 15px;
}
/*********************  スマホ時    ***************************/
@media(max-width: 670px) {

    aside.aside {
        width: 100%;
        border-bottom: 1px solid #7F7F7F;
        padding: 20px 0 10px 0;
        margin: 0 0 0 0;
    }
    /* asideのアイコン画像 */
    img.user_icon {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 15px;
        margin-bottom: 10px;
    }
    /* ユーザー情報編集画面へのリンク(+hover) */
    a.to_users_edit {
        text-decoration: none;
        color: rgba(30, 30, 30, 1);
        border: 1px solid rgba(30, 30, 30, 1);
        padding: 10px 15px 10px 15px;
        font-size: 12px;
        width: 80%;
    }
    a.to_users_edit:hover {
        text-decoration: none;
        color: rgba(240, 240, 240, 0.8);
        background-color: rgba(30, 30, 30, 1);
        padding: 10px 15px 10px 15px;
    }
    /* ユーザー名・生息地域 */
    aside p.user_name, p.user_area {
        margin:10px 0 0 0;
    }
}


/*************************
**** section設定 ****
**************************/

section.section {
    float: left;
    width: 60%;
    margin-left: 30px;
}
/* 投稿フォーム・投稿猫一覧・投稿一覧ボタンのリスト */
ul.main_button_list {
    text-align: right;
}
/* ボタンリスト全体の設定 */
div.post_form, div.users_index, div.posts_index {
    display: inline;
}
/* 投稿フォーム・投稿猫一覧・投稿一覧ボタンデザイン(+hover) */
a.post_form_button, a.users_index_button, a.posts_index_button{
    border: 1px solid rgba(30, 30, 30, 1);
    border-radius: 2px;
    padding : 10px 15px 10px 15px;
    text-decoration: none;
    font-size: 12px;
    color: rgba(30, 30, 30, 1);
}
a.post_form_button:hover, a.users_index_button:hover, a.posts_index_button:hover {
    border: 1px solid rgba(240, 240, 240, 1);
    border-radius: 2px;
    padding : 10px 15px 10px 15px;
    color: rgba(240, 240, 240, 1);
    background-color: rgba(30, 30, 30, 1);
}
/*  メイン画面の自分が投稿したポスト一覧  */
/* コメント一欄を囲う */
div.my_posts_index {
    margin-top: 30px;
}
/* 投稿とコメントを囲う */
div.post_comment_container {
    border: 1px solid #7f7f7f;
    background-color: white;
    padding: 10px;
    margin-top: 5px 10px 5px 10px;
}
/* 時間・削除アイコンのリスト */
ul.post_container_list {
    list-style: none;
    text-align: right;
    margin:0;
}
/* 投稿のタイトル */
h3.post_title {
    border-bottom: 1px solid #7F7F7F;
    padding: 0 15px 5px 15px;
    margin-bottom:20px;
    font-size: 18px;
}
/* 投稿の内容 */
p.post_conetnt {
    text-align:left;
    margin:5px 40px 5px 40px;
}
/* 投稿画像 */
img.post_img {
    width: 300px;
    border-radius: 5px;
    margin-top: 20px;
}
/*   投稿時間(new,何時間前、何年何月何日 */
/* new */
span.time_msg_new {
    font-size: 18px;
    font-weight: bold;
    color: yellow;
    display: inine-box;
    text-shadow: 1px 1px 0 #000,
                -1px 1px 0 #000,
                1px -1px 0 #000,
                -1px -1px 0 #000;
    text-shadow: 1px 1px 0 #000,
                -1px 1px 0 #000,
                1px -1px 0 #000,
                -1px -1px 0 #000;
}
/* ~時間前 */
span.time_msg_oneday {
    font-size: 18px;
    font-weight: bold;
    display: inine-box;
}
/*   削除のアイコン  */
/* 削除アイコンを囲う */
div.destroy_icon {
    display: inline;
    margin: 0 10px 0 20px
}
/* 削除アイコン(×)+hover */
.destroy_icon span.cross {
    border:2px solid black;
    border-radius: 5px;
    padding: 1px 5px 3px 5px;
    font-size: 20px;
    color: black;

}
.destroy_icon span.cross:hover {
    text-decoration: none;
    color: white;
    background-color: black;
}
/* 削除アイコンのaタグ+hover */
.destroy_icon a {
    text-decoration: none;
}
.destroy_icon a:hover{
    text-decoration: none;
}
/*  コメント、いいねのアイコン  */
ul.post_icon_list {
    list-style: none;
    text-align: right;
    margin-right: 20px;
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
}
/* コメントアイコン+hover */
img.comment_icon {
    width: 40px;
    height: 40px;
    margin: 5px;
}
img.comment_icon:hover {
    width: 45px;
    height: 45px;
}
/* いいねアイコン(他人の投稿)+hover */
img.favorite_icon {
    width: 45px;
    height: 45px;
    margin: 5px;
    text-decoration: none;
}
img.favorite_icon:hover {
    width: 50px;
    height: 50px;
    margin: 5px;
}
/* いいねアイコン(自分の投稿) */
img.favorite_icon_my {
    width: 45px;
    height: 45px;
    margin: 5px;
}
/* いいねカウント */
span.favorite_count {
    font-size: 30px;
    display:inline-block;

}

/*********************  スマホ時    ***************************/
@media(max-width: 670px) {

    section.section {
        width: 100%;
        margin: 0 0 0 0;
    }
    /* 投稿フォーム・投稿猫一覧・投稿一覧ボタンのリスト */
    ul.main_button_list {
        text-align: center;
        margin :0;
        padding:0;
    }
    /* ボタンリスト全体の設定 */
    div.post_form, div.users_index, div.posts_index {
        display: block;
        margin: 30px 0 30px 0;
    }
    /* 投稿フォーム・投稿猫一覧・投稿一覧ボタンデザイン(+hover) */
    a.post_form_button, a.users_index_button, a.posts_index_button{
        border: 1px solid rgba(30, 30, 30, 1);
        border-radius: 2px;
        padding : 10px 40px 10px 40px;
        text-decoration: none;
        font-size: 15px;
        color: rgba(30, 30, 30, 1);
    }
    a.post_form_button:hover, a.users_index_button:hover, a.posts_index_button:hover {
        border: 1px solid rgba(240, 240, 240, 1);
        border-radius: 2px;
        padding : 10px 40px 10px 40px;
        color: rgba(240, 240, 240, 1);
        background-color: rgba(30, 30, 30, 1);
    }
    /* 投稿一覧を囲う */
    div.my_posts_index {
        width: 100%;
    }
    /* 投稿の内容 */
    p.post_conetnt {
        text-align:left;
        margin:5px 5px 5px 5px;
    }
    /* 投稿画像 */
    img.post_img {
        width: 90%;
        border-radius: 5px;
    }
    /*   投稿時間(new,何時間前、何年何月何日 */
    /* new */
    span.time_msg_new {
        font-size: 14px;
        font-weight: bold;
        color: yellow;
        display: inline-box;
        text-shadow: 1px 1px 0 #000,
                    -1px 1px 0 #000,
                    1px -1px 0 #000,
                    -1px -1px 0 #000;
        text-shadow: 1px 1px 0 #000,
                    -1px 1px 0 #000,
                    1px -1px 0 #000,
                    -1px -1px 0 #000;
    }
    /* ~時間前 */
    span.time_msg_oneday {
        font-size: 14px;
        font-weight: bold;
        display: inline-box;
    }
    /* 時間 */
    span.time_msg {
        font-size: 12px;
        display: inline-box;
    }
    /*   削除のアイコン  */
    /* 削除アイコンを囲う */
    div.destroy_icon {
        display: inline;
        margin: 0 5px 0 5px
    }
    /* 削除アイコン(×)+hover */
    .destroy_icon span.cross {
        border:2px solid black;
        border-radius: 5px;
        padding: 1px 5px 3px 5px;
        font-size: 20px;
        color: black;
    }
    .destroy_icon span.cross:hover {
        text-decoration: none;
        color: white;
        background-color: black;
    }
}
/********************************
*** 投稿フォーム・コメントフォーム ***
**********************************/
/* 投稿フォーム */
.post_form_container {
    border: 2px solid #7f7f7f;
    background-color: rgba(20, 20, 20, 0.8);
    width: 80%;
    display: none;
    padding: 20px 0 20px;
    margin: 10px auto;
}
/* 投稿フォーム部品 */
.post_form_container .form_part {
    padding: 10px 0 10px 0;
}
/* 投稿フォームのラベル */
.post_form_container label {
    color: white;
    font-weight: bold;
    font-size: 18px;
}
/* textタイプのフォーム */
.post_form_container .form_part input[type=text] {
    width: 200px;
    height: 30px;
    font-size:20px;
}
/* texareaタイプのフォーム */
.post_form_container .form_part textarea{
    width: 300px;
    font-size:20px;
}
/* fileタイプのフォームのラベル+hover */
label.image_select {
    padding: 15px;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    background-color: rgba(156, 213, 255, 0.5);
}
label.image_select:hover {
    padding: 15px;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    background-color: rgba(156, 213, 255, 0.9);
}
/* 投稿ボタン(submit)+hover */
button.post_submit_button {
    padding: 10px 25px 10px 25px;
    font-size: 15px;
    border: 1px solid white;
    border-radius: 5px;
    background-color:rgba(30, 30, 30, 0.5);
    color: white;
    font-weight: bold;

}
button.post_submit_button:hover {
    border: 1px solid black;
    background-color:rgba(240, 240, 240, 1);
    font-weight: bold;
    color: rgba(30, 30, 30, 1);

}
/*  コメントフォーム  */
.comment {
    display: none;
}

.comment_form_container {
    padding: 20px 0 20px 0;
}
.comment_form_container input[type=text] {
    width: 300px;
    height: 30px;
    font-size:20px;
}
/*********************  スマホ時    ***************************/
@media(max-width: 670px) {

    /* 投稿フォーム */
    .post_form_container {
        border: 2px solid #7f7f7f;
        background-color: rgba(20, 20, 20, 0.8);
        width: 100%;
        display: none;
        padding: 10px 0 10px;
        margin: 10px auto;
    }
    /* textタイプのフォーム */
    .post_form_container .form_part input[type=text] {
        width: 90%;
        height: 30px;
        font-size:20px;
    }
    /* textareaタイプのフォーム */
    .post_form_container .form_part textarea{
        width: 90%;
        height: 100px;
        font-size:20px;
    }
    .comment_form_container input[type=text] {
        width: 95%;
        height: 30px;
        font-size:20px;
    }
}

/*************************
**** ユーザー情報編集ページ ****
**************************/
.container_users_edit {
    padding: 30px;
}
.container_users_edit .form_part {
    margin-bottom: 15px;
}
.container_users_edit .form_part input[type=text] {
    width: 200px;
    height: 20px;
    font-size:20px;
}
.container_users_edit .form_part input[type=email] {
    width: 200px;
    height: 20px;
    font-size:20px;
}
.container_users_edit .form_part input[type=password] {
    width: 200px;
    height: 20px;
    font-size:20px;
}
.container_users_edit .form_part select {
    width: 350px;
    height: 30px;
    font-size:18px;
}

.container_users_edit button[type=submit] {
    border: 1px solid black;
    padding: 10px 25px 10px 25px;
    margin-top: 20px;
    font-size:18px;
}
.container_users_edit button[type=submit]:hover {
    border: 1px solid rgba(220, 220, 220, 1);
    color: rgba(220, 220, 200, 1);
    background-color: rgba(30, 30, 30, 0.8);
}
.container_users_edit button[type=submit].icon_button {
    border: 1px solid black;
    padding: 5px 15px 5px 15px;
    font-size: 14px;
    margin:0 0 20px 0;
}
.container_users_edit button[type=submit]:hover {
    border: 1px solid rgba(220, 220, 220, 1);
    color: rgba(220, 220, 200, 1);
    background-color: rgba(30, 30, 30, 0.8);
}






/**********************
*****  ユーザー一覧  ********
**************************/
.container_users_index {
    padding-top: 50px;
    height: 100%;
}

.container_users_index ul.user_index_list li {
	list-style-type: none;
	text-align: left;
	margin-left: 10px;
	margin-top: 10px;
	border-bottom: 1px solid #cccccc;
}
.container_users_index ul.user_index_list li:hover {
    border-bottom: 1px solid #656565;
}
img.users_index_icon {
    border-radius: 10px;
	width: 40px;
    height: 40px;
    object-fit: cover;
}

span.users_index {
	margin-left: 10px;
}
a.users_idex_link {
    text-decoration: none;
    color: rgba(30, 30, 30, 1);
    display: block;
}
span.gender_male {
	color: #0065cb;
	font-weight: bold;
    font-size: 120%;
}
span.gender_female {
	color: #ff007f;
	font-weight: bold;
	font-size: 120%;
}
/**********************
*****  投稿一覧  ********
**************************/
.post_index_container {

}
.post_index_container ul {
    list-style: none;
}
.post_index_container ul.post_index_user_time {
	text-align:left;
}
.post_index_container a {
	text-decoration: none;
	color: rgba(30, 30, 30, 1);
}
.post_index_container a:hover {
	color: blue;
	font-weight: bold;
	text-decoration: underline;
}
.post_index_user {
	padding-bottom: 5px;
	border-bottom: 1px solid #cccccc;
}
img.post_user_icon {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 15px;
}
span.post_index_user {
    margin-right: 200px;
}
.post_index_title_content {
	width:350px;
	margin-right: 0px;
	display: inline-box;
	float: left;
}
img.post_index_img {
	border-radius: 15px;
	width: 200px;
	max-height: 200px;
	object-fit: cover;
}
/*************************
****** コメント一覧 ***********
**************************/
ul.comment_list {
	list-style: none;
	text-align: left;
}
img.comment_user_icon {
	width: 40xp;
	height: 40px;
	object-fit: cover;
	border-radius: 10px;
}
a.post_index_comment_user {
	text-decoration: none;
	color: rgba(30, 30, 30, 1);
    margin-right: 20px;
}
a.post_index_comment_user:hover {
    text-decoration: underline;
    color: blue;
    font-weight: bold;
}
td.post_index_comment_body {
	text-align: left;
	padding-left: 15px;
}

/********************************************
******* 投稿のエラー・フラッシュメッセージ *******
********************************************/
.message {
    position: relative;
}
.flush {
    position: absolute;
        left: 0;
        right: 0;
    margin: auto;
    padding: 10px 0 10px 0;
    background-color: rgba(120, 197, 232, 0.74);
}
.errors_post {
    position: absolute;
        left: 0;
        right: 0;
    margin: auto;
    padding: 10px 0 10px 0;
    background-color: rgba(232, 120, 120, 0.74);
}
