@charset "UTF-8";

/*************************
******** 全体設定 **********
**************************/
html {
	height: 100%
}
body {
	height: 100%;
	background-image: url("../images/toppage.png");
    background-size: 100% auto;
    margin: 0;
}
#wrapper {
	height: 100%;
    text-align: center;
}
.content {
    height: 100%;
}
.container {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    background-color: rgba(240, 240, 240, 0.9);
    overflow: auto;

}
.container_top {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    overflow: auto;
}
/*************************
******** ヘッダー **********
**************************/
header {
	color: rgba(240, 240 ,240, 0.8);
	font-weight: bold;
	text-align: left;
	font-family:"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
    background-color: rgba(30, 30, 30, 1);
    height: 80px;
    border: 1px solid rgba(30, 30, 30, 1);
}
header a {
	text-decoration: none;
    color: rgba(240, 240 ,240, 0.8);
}
header a:hover {
    color: rgba(180, 180 ,180, 0.8);
}
header ul {
	list-style: none;
}
header h1.logo {
	display: inline;
    float: left;
    margin: 0 0 0 10%;
}
header span.logout {
	float: right;
	margin: 1% 15% 0 0;
	font-size: 140%;
}
/*******************************
**** ログイン・サインアップ設定 ****
********************************/
.container_signup_login {
	border: 1px solid red;
}
.container_signsup_login .form_part {
    margin-bottom: 15px;
}
.container_signsup_login .form_part input[type=text] {
    width: 200px;
    height: 20px;
    font-size:20px;
}
.container_signsup_login .form_part input[type=email] {
    width: 200px;
    height: 20px;
    font-size:20px;
}
.container_signsup_login .form_part input[type=password] {
    width: 200px;
    height: 20px;
    font-size:20px;
}
.container_signsup_login .form_part select {
    width: 350px;
    height: 30px;
    font-size:18px;
}
.container_signsup_login button[type=submit] {
    border: 1px solid black;
    padding: 10px 25px 10px 25px;
    margin-top: 20px;
    font-size:18px;
}
.container_signsup_login button[type=submit]:hover {
    border: 1px solid rgba(220, 220, 220, 1);
    color: rgba(220, 220, 200, 1);
    background-color: rgba(30, 30, 30, 0.8);
}
a.to_login {
	margin-top: 20px;
	display: inline-block;
}
a.to_signup {
    margin-top: 20px;
    display: inline-block;
}

p.error_msg {
    color: red;
    font-size: 12px;
    display: inline;
}
/*************************
**** aside・section設定 ****
**************************/
aside.aside {
    float: left;
    width: 20%;
    margin-left: 20px;
    border-right: 1px solid #7F7F7F;
    padding-right: 40px;
}
section.section {
    float: left;
    width: 60%;
    margin-left: 30px;
}
.clearfix:after {
    clear: both;
    content: '';
    display: block;
}

a.to_users_edit {
	text-decoration: none;
	color: rgba(30, 30, 30, 1);
	border: 1px solid rgba(30, 30, 30, 1);
	font-size: 80%;
	padding: 10px 15px 10px 15px;
	width: 80%;
}
a.to_users_edit:hover {
    text-decoration: none;
    color: rgba(240, 240, 240, 0.8);
    background-color: rgba(30, 30, 30, 1);
    font-size: 80%;
    padding: 10px 15px 10px 15px;
}
textarea.aside_textarea {
	height: 100px;
}
/*************************
**** asideのアイコン画像 ****
**************************/
img.user_icon {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 15px;
    margin-bottom: 10px;
}
/*************************
**** トップページ設定 ****
**************************/
h2.toppage {
    padding-top: 100px;
    color: white;
    font-size: 40px;
}
p.toppagemsg {
       color: white;
    font-size: 20px;
}

.index_button {
    padding-top:50px;
    text-align:center;
}
.index_button li {
	list-style-type: none;
}

.login_button, .signup_button {
    display: inline-flex;
}

.toppage_button {
    border: 2px solid white;
    padding: 10px 40px 10px 40px;
    margin: 0 100px 0 100px;
    font-size: 20px;
    color: white;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0);
    text-decoration: none;
}
.toppage_button:hover {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    font-weight: bold;
    border: 2px solid white;
    padding: 11px 41px 11px 41px;
}
/*************************
******** メイン画面 **********
**************************/
.container_main {
	padding-top: 50px;
	height: 100%;
}
/***********************************************************
******** 投稿フォーム・投稿猫一覧・投稿一覧ボタンのリスト **********
***********************************************************/
.main_button_list {
    list-style: none;
    text-align: right;
}
/**********************
*** 投稿フォームを出すボタン ***
************************/
.post_form {
    display:inline;
}
a.post_form_button {
    border: 1px solid rgba(30, 30, 30, 1);
    border-radius: 2px;
    padding : 15px 20px 15px 20px;
    margin-right: 20px;
    text-decoration: none;
    color: rgba(30, 30, 30, 1);
}
a.post_form_button:hover {
    border: 1px solid rgba(240, 240, 240, 1);
    border-radius: 2px;
    padding : 15px 20px 15px 20px;
    color: rgba(240, 240, 240, 1);
    background-color: rgba(30, 30, 30, 1);
}
/**********************
*** 投稿フォーム ***
************************/
.post_form_container {
    border: 2px solid #7f7f7f;
    background-color: rgba(20, 20, 20, 0.8);
    width: 80%;
    display: none;
    padding: 20px 0 20px;
    margin: 10px auto;
}
.post_form_container .form_part {
	padding: 10px 0 10px 0;
}
.post_form_container label {
	color: white;
	font-weight: bold;
	font-size: 18px;
}
.post_form_container .form_part input[type=text] {
    width: 200px;
    height: 30px;
    font-size:20px;
}
.post_form_container .form_part textarea{
    width: 300px;
    font-size:20px;
}
label.image_select {
	padding: 15px;
	border: 1px solid black;
	border-radius: 5px;
	color: black;
	background-color: rgba(156, 213, 255, 0.5);
}
label.image_select:hover {
    padding: 15px;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    background-color: rgba(156, 213, 255, 0.9);
}
/**********************
******* 投稿ボタン *******
************************/
button.post_submit_button {
    padding: 10px 25px 10px 25px;
    font-size: 15px;
    border: 1px solid white;
    border-radius: 5px;
    background-color:rgba(30, 30, 30, 0.5);
    color: white;
    font-weight: bold;

}
button.post_submit_button:hover {
    border: 1px solid black;
    background-color:rgba(240, 240, 240, 1);
    font-weight: bold;
    color: rgba(30, 30, 30, 1);

}
/********************************************
******* 投稿のエラー・フラッシュメッセージ *******
********************************************/
.message {
	position: relative;
}
.flush {
	position: absolute;
	    left: 0;
        right: 0;
    margin: auto;
    padding: 10px 0 10px 0;
	background-color: rgba(120, 197, 232, 0.74);
}
.errors_post {
    position: absolute;
        left: 0;
        right: 0;
    margin: auto;
    padding: 10px 0 10px 0;
    background-color: rgba(232, 120, 120, 0.74);
}


/********************************
******* 登録猫一覧へのボタン *******
*********************************/
.users_index {
	display:inline;
}
a.users_index_button {
	border: 1px solid rgba(30, 30, 30, 1);
    border-radius: 2px;
	padding : 15px 20px 15px 20px;
	text-decoration: none;
	color: rgba(30, 30, 30, 1);
}
a.users_index_button:hover {
    border: 1px solid rgba(240, 240, 240, 1);
    border-radius: 2px;
    padding : 15px 20px 15px 20px;
    color: rgba(240, 240, 240, 1);
    background-color: rgba(30, 30, 30, 1);
}
/********************************
******* 投稿一覧へのボタン *******
*********************************/
.posts_index {
    display:inline;
}
a.posts_index_button {
    border: 1px solid rgba(30, 30, 30, 1);
    border-radius: 2px;
    padding : 15px 20px 15px 20px;
    text-decoration: none;
    color: rgba(30, 30, 30, 1);
}
a.posts_index_button:hover {
    border: 1px solid rgba(240, 240, 240, 1);
    border-radius: 2px;
    padding : 15px 20px 15px 20px;
    color: rgba(240, 240, 240, 1);
    background-color: rgba(30, 30, 30, 1);
}
/*********************************************
*****  メイン画面の自分が投稿したポスト一覧  ********
***********************************************/
.my_posts_index {
	margin-top: 30px;
}
.post_comment_container {
	border: 1px solid #7f7f7f;
	background-color: white;
	padding: 10px;
	margin-top: 10px;
}
h3.post_title {
	border-bottom: 1px solid #7F7F7F;
	display: inline;
	padding: 0 15px 5px 15px;
	font-size: 18px;
}
img.post_img {
	width: 300px;
	border-radius: 5px;
}
/**************************************
*****  コメント、いいねのアイコン  ********
**************************************/
ul.post_icon_list {
	list-style: none;
	text-align: right;
	margin-right: 20px;
	border-top: 1px solid silver;
	border-bottom: 1px solid silver;
}
img.comment_icon {
    width: 40px;
    height: 40px;
    margin: 5px;
}
img.comment_icon:hover {
    width: 45px;
    height: 45px;
}
img.favorite_icon {
    width: 45px;
    height: 45px;
    margin: 5px;
    text-decoration: none;
}
img.favorite_icon:hover {
    width: 50px;
    height: 50px;
    margin: 5px;
}
img.favorite_icon_my {
    width: 45px;
    height: 45px;
    margin: 5px;
}
span.favorite_count {
	font-size: 30px;
	display:inline-block;

}
/*************************
*****  コメントフォーム  ********
*************************/
.comment {
    display: none;
}
.comment_container {
}

.comment_form_container {
    padding: 20px 0 20px 0;
}
.comment_form_container input[type=text] {
    width: 300px;
    height: 30px;
    font-size:20px;
}

/**********************
*****  ユーザー一覧  ********
**************************/
.container_users_index {
    padding-top: 50px;
    height: 100%;
}

.container_users_index ul.user_index_list li {
	list-style-type: none;
	text-align: left;
	margin-left: 10px;
	margin-top: 10px;
	border-bottom: 1px solid #cccccc;
}
.container_users_index ul.user_index_list li:hover {
    border-bottom: 1px solid #656565;
}
img.users_index_icon {
    border-radius: 10px;
	width: 40px;
    height: 40px;
    object-fit: cover;
}

span.users_index {
	margin-left: 10px;
}
a.users_idex_link {
    text-decoration: none;
    color: rgba(30, 30, 30, 1);
    display: block;
}
span.gender_male {
	color: #0065cb;
	font-weight: bold;
    font-size: 120%;
}
span.gender_female {
	color: #ff007f;
	font-weight: bold;
	font-size: 120%;
}
/**********************
*****  投稿一覧  ********
**************************/
.post_index_container {

}
.post_index_container ul {
    list-style: none;
}
.post_index_container ul.post_index_user_time {
	text-align:left;
}
.post_index_container a {
	text-decoration: none;
	color: rgba(30, 30, 30, 1);
}
.post_index_container a:hover {
	color: blue;
	font-weight: bold;
	text-decoration: underline;
}
.post_index_user {
	padding-bottom: 5px;
	border-bottom: 1px solid #cccccc;
}
img.post_user_icon {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 15px;
}
span.post_index_user {
    margin-right: 200px;
}
.post_index_title_content {
	width:350px;
	margin-right: 0px;
	display: inline-box;
	float: left;
}
img.post_index_img {
	border-radius: 15px;
	width: 200px;
	max-height: 200px;
	object-fit: cover;
}
/*************************
****** コメント一覧 ***********
**************************/
ul.comment_list {
	list-style: none;
	text-align: left;
}
img.comment_user_icon {
	width: 40xp;
	height: 40px;
	object-fit: cover;
	border-radius: 10px;
}
a.post_index_comment_user {
	text-decoration: none;
	color: rgba(30, 30, 30, 1);
    margin-right: 20px;
}
a.post_index_comment_user:hover {
    text-decoration: underline;
    color: blue;
    font-weight: bold;
}
td.post_index_comment_body {
	text-align: left;
	padding-left: 15px;
}

